/*

Tooplate 2129 Crispy Kitchen

https://www.tooplate.com/view/2129-crispy-kitchen

*/


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )
-----------------------------------------*/
:root {
  --white-color: #f9f9f9;
  --primary-color: #EC8B5E;
  --secondary-color: #141A46;
  --section-bg-color: #F9F9F9;
  --dark-color: #000000;
  --title-color: #565758;
  --news-title-color: #292828;
  --p-color: #717275;
  --border-color: #eaeaea;
  --border-radius-default: .25rem;

  --header-font-family: Coolvetica, Helvetica, sans-serif;
  --body-font-family: proxima-nova, Helvetica, sans-serif;

  --h1-font-size: 76px;
  --h2-font-size: 56px;
  --h3-font-size: 40px;
  --h4-font-size: 28px;
  --h5-font-size: 26px;
  --h6-font-size: 22px;

  --p-font-size: 18px;
  --menu-font-size: 18px;
  --category-font-size: 14px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white-color);
  font-family: var(--body-font-family);
  position: relative;
}

/*---------------------------------------
  TYPOGRAPHY
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1,
h2,
h3 {
  font-family: var(--header-font-family);
  font-weight: var(--font-weight-normal);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p,
.paragraph,
.list .list-item {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

.form-label {
  color: var(--p-color);
  font-weight: var(--font-weight-semibold);
}

a {
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--white-color);
}

.section {
  background: var(--section-bg-color);
}

.section-padding {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  BOOTSTRAP OVERRIDES
-----------------------------------------*/

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.badge {
  padding: 0.45em 0.65em;
}

.list-group-item {
  background-color: transparent;
}

/*---------------------------------------
  CUSTOM BUTTON
-----------------------------------------*/
.custom-btn {
  border: 0;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  padding: 10px 35px;
}

/*---------------------------------------
  NAVIGATION
-----------------------------------------*/
.navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
  min-height: 76px;
  background-color: var(--white-color);
}

.navbar+main {
  padding-top: 76px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-expand-lg .nav-link {
  color: var(--p-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--menu-font-size);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.nav-link:focus,
.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:focus {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0 0.5rem 0 0;
  width: 30px;
  height: 35px;
  outline: none;
  margin-left: auto;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}

.logo {
  width: 100%;
  max-width: 135px;
}

/*---------------------------------------
  BANNER IMAGES
-----------------------------------------*/
.hero {
  position: relative;
  overflow: hidden;
  padding-top: 20.542rem;
  padding-bottom: 20.542rem;
  background: url(/images/banners/code_transportation.webp) left;
  background-size: cover;
}

.hero .container {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .6);
}

.hero .container .col-12 {
  padding: 0 0.75rem;
}

.hero .container p {
  font-size: 2.1rem;
  margin-bottom: 0;
  color: white;
}

.hero .container h1 {
  color: var(--primary-color);
}

.parralax-image {
  background: url('/images/banners/contemplating_stock.webp') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

/*---------------------------------------
  WHY US
-----------------------------------------*/

.ascm-card {
  flex: 0 0 100%;
  height: fit-content;
  max-width: 355px;
  width: 100%;
  margin: 0.5rem auto 1rem auto;
}

.why-reasons i {
  font-size: 2rem;
  margin-right: 1rem;
}

/*---------------------------------------
  SERVICES
-----------------------------------------*/

#Services .blog-title {
  font-size: var(--h3-font-size);
  font-family: var(--header-font-family);
}

.service-example {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.service-example>img {
  max-width: 3rem;
  margin-right: 1rem;
}

.service-example>p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*---------------------------------------
  BLOG
-----------------------------------------*/
.blog-thumb {
  position: relative;
  overflow: hidden;
}

.blog-thumb>:first-child {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-out;
}

.blog-thumb>:first-child:hover {
  transform: scale(1.2);
}

.blog-image {
  display: block;
  width: 100%;
  transition: all 0.3s ease-out;
}

.blog-image:hover {
  transform: scale(1.2);
}

.blog-text-info {
  background: var(--section-bg-color);
  position: relative;
  z-index: 2;
  padding: 10px 20px;
  transition: all 0.3s ease-out;
}

.blog-text-info-large {
  background: linear-gradient(to top, var(--dark-color), transparent 95%);
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.blog-text-info-large .blog-title {
  color: var(--white-color) !important;
}

.blog-title {
  color: var(--news-title-color);
}

.blog-title>a {
  color: inherit;
}

.category-tag {
  background: var(--dark-color);
  border-radius: var(--border-radius-default);
  color: var(--white-color);
  font-size: var(--category-font-size);
  display: inline-block;
  padding: 4px 12px;
}

.category-tag {
  margin-bottom: 5px;
}

/*---------------------------------------
  CUSTOM FORM
-----------------------------------------*/
.custom-form .form-control {
  margin-bottom: 20px;
  padding: 14px 10px;
  transition: all 0.3s;
}

.custom-form button[type="submit"] {
  background: var(--primary-color);
  border: 0;
  color: var(--white-color);
  text-transform: uppercase;
}

.custom-form button[type="submit"]:hover {
  background: var(--secondary-color);
}

.contact-email {
  font-size: 1.75rem;
  font-weight: bold;
}

/*---------------------------------------
  FOOTER
-----------------------------------------*/
.site-footer {
  background-image: url('/images/banners/coffee_shop.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
}

.site-footer::before {
  content: "";
  background: linear-gradient(to top, var(--dark-color), transparent 200%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.site-footer .container {
  position: relative;
}

.mt30 {
  margin-top: 30px;
}

.copyright-text {
  margin: 5rem 0;
  font-size: var(--menu-font-size);
}

.site-footer a:hover {
  color: var(--white-color);
}

.site-footer a {
  color: #AAA;
  ;
}

.site-footer p {
  color: #AAA;
}

/*---------------------------------------
  SOCIAL ICON
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s;
}

.social-icon:hover li:not(:hover) {
  opacity: 0.65;
}

.social-icon-link {
  color: var(--p-color);
  font-size: 2rem;
  display: inline-block;
  margin-right: 1.5rem;
}

.social-icon-link:hover {
  color: var(--primary-color);
}


/*---------------------------------------
  LOADING INDICATOR
-----------------------------------------*/
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

.loading:after {
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid #141A46;
  border-color: #141A46 transparent #141A46 transparent;
  animation: loading 1.2s linear infinite;
}

.thank-you-message {
  font-size: 1.5rem;
}

.submit-container {
  display: flex;
  flex-flow: wrap-reverse;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*---------------------------------------
  RESPONSIVE STYLES
-----------------------------------------*/
@media screen and (max-width: 1180px) {
  h1 {
    font-size: 62px;
  }
}

@media screen and (max-width: 1170px) {
  h1 {
    font-size: 56px;
  }
}


@media screen and (max-width: 991px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav .nav-link {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }

  .hero .container p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .hero .container .col-12 {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 991px) {
  .navbar-container {
    position: relative;
  }

  .navbar-brand {
    position: absolute;
    top: 0;
  }
}
